body{
    background:dodgerblue;

}
#souhait1 li, #souhait2 li, #souhait3 li, #souhait3 li, #souhait4 li{
    list-style: none;
    background: white;
    margin-left: 36%;
    height: 90px;
    width: 378px;
    text-align: center;
    font-size: 40px;
    border-top:solid black 3px;

}
#text{

}

